<header class="header">
  <div class="main-nav">
    <div class="brand">
      <a href="/" class="brand-link">
        Reversible Store
      </a>
    </div>
    <form action="" class="search">
      <input type="text" class="search-bar">
      <button class="search-submit">Search</button>
    </form>
    <nav class="navbar">
      <ul class="menu">
        <li class="menu-item">
          <a href="" class="menu-link">
            Profile
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">
            Cart
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="sub-nav">
    <ul class="category-list">
      <li class="category-item"></li>
    </ul>
  </div>
</header>
