.header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  background: var(--color-primary);
  align-items: center;
}

.brand {
  flex: 2;

  &-link {
    border-radius: .5rem;
    padding: 1rem;
    color: var(--color-text-light);

    &:hover {
      background: var(--color-border);
    }
  }
}

.search {
  display: flex;
  flex: 5;
  border: 1px solid var(--color-border);
  border-radius: .5rem;
  overflow: hidden;

  &:focus, &:active {
    outline: 2px solid var(--color-secondary);
  }

  &-bar {
    flex: 5;
    border: 0;
    padding: 1rem;
    border-radius: .5rem 0 0 .5rem;
  }

  &-submit {
    flex: 1;
    padding: .75rem 1rem;
    border: 0;
    background: var(--color-border);
    color: var(--color-text-light);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background: var(--color-text-dark);
    }
  }
}

.navbar {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}

.menu {
  display: flex;

  &-item {
    padding: 0 1rem;
  }

  &-link {
    color: var(--color-text-light);
    padding: 1rem;
    border-radius: .5rem;

    &:hover {
      background: var(--color-border);
    }
  }
}
