/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;700&display=swap');

//colors
:root {
  --color-orange-100: #DF3901;
  --color-orange-200: #FE5D26;
  --color-orange-300: #F2C078;
  --color-orange-400: #FAEDCA;
  --color-green-100: #7EBC89;
  --color-green-200: #C1DBB3;
  --color-black-100: #000;
  --color-white-100: #fff;
}

:root,
.themeDefault {
  --color-primary: var(--color-orange-200);
  --color-secondary: var(--color-orange-300);
  --color-terciary: var(--color-orange-400);
  --color-accent-light: var(--color-green-100);
  --color-accent-dark: var(--color-green-200);
  --color-text-light: var(--color-white-100);
  --color-text-dark: var(--color-black-100);
  --color-border: var(--color-orange-100);
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
